doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="/public/style.css")
    body
        header
            h1 Welcome to Zoomworld
        main
            div#welcome 
                form
                    input(placeholder="room name", type="text", required)
                    button Enter
            div#mainScreen 
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="300")
                    video#peerFace(autoplay,playsinline, width="400", height="300")
                div#chat 
                    div#chatBox
                        div#sendbox
                            ul
                        div#messagebox
                            form  
                                input(placeholder="message...",type="text")
                                button Send
                    div#option 
                        button#mute Mute
                        button#camera Turn Camera Off
                        select#cameras
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 